* {
    box-sizing: border-box;
}

#container {
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    width: 70%;
    height: 500px;
    color: #eee;
    background: #222;
    border-radius: 20px;
}

#timer {
    text-align: center;
    font-size: 18px;
}

.container {
    margin: auto;
    padding:20px;
    width: 400px; 
}

#question {
    padding: 10px;
    font-size: 24px;
}

.answer {
    padding: 10px;
    width: 200px;
}

.answer:hover {
    background: #111;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #eee;
}

.image {
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 100%;
}

#game-over-container {
    margin: auto;
    margin-top: 130px;

}

.button {
    color: #222;
    text-align: center;
    font-size: 18px;
    display: block;
    margin: auto;
    margin-top: 130px;
    padding: 5px;
    width: 120px;
    background: #eee;
    cursor: pointer;
}

.hide {
    display: none;
    visibility: hidden;
}